- for coluna in @colunas do
	.coluna
		- unless coluna.artigos.empty?
			.row
				.span12
					%h2
						= coluna.name
						%small
							- @ultimo_artigo = coluna.artigos.order("created_at DESC").first
							- @dias_criado = (Time.now - @ultimo_artigo.created_at).divmod(60*60*24)[0]
							- if @dias_criado > 0
								= postado_quando? @ultimo_artigo, "atualizada"
							- else 
								atualizada hoje.

			- @artigo = coluna.artigos.order("created_at DESC").first
			.row
				= image_tag @artigo.imagem_url(:small), :class => "span4 imagem-da-coluna img-rounded"
				
				.span6.ultimo-post
					%h5.chapeu= @artigo.assunto
					%h4.chamada= @artigo.chamada

					:markdown
						#{@artigo.resumo}
					
					= link_to "Ler tudo", "#{coluna.name.parameterize}/#{@artigo.chamada.parameterize}", :class => "btn"